@full-width: calc(100vw - 10px);


.glass-container{
  // width: 700px;
  // height: 375px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 28px;
  backdrop-filter: blur(17px);
  background-color: rgba(0,191,255, 0.069);
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
  border: 0px rgba(255,255,255,0.4) solid;
  border-bottom: 0px rgba(40,40,40,0.35) solid;
  border-right: 0px rgba(40,40,40,0.35) solid;
}

.container {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  -webkit-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;

  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 2rem;
  // background: url('https://glassgenerator.netlify.app/assets/images/bg-default-04.jpg');
  background: #111;
  color: #fff;
  width: @full-width;
  height: 100vh;
  padding: 0 10%;
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  flex-flow: column;


  @media (max-width: 768px) {
    
  }

  .header,
  .content,
  .footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid #f00;
  }

  .header {
    height: 5%;
    justify-content: space-between;
    padding: 0 50px;
    font-size: 1.5rem;

    .nav {
      width: 30%;
      height: 100%;
      border: 1px solid #f00;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      .nav-item {
        position: relative;
        cursor: pointer;

        &::after {
          content: "";
          display: inline-block;
          width: 0;
          height: 2px;
          background: #fff;
          transition: all 0.3s;
          position: absolute;
          bottom: 0;
          left: 0;
          transform-origin: center;
        }
        &:hover {
          &::after {
            width: 100%;
          }
        }
      }
    }
  }

  .content {
    height: 90%;
   .glass-container;

  }

  .footer {
    height: 5%;
  }

  .scroll-thumb {
    z-index: 999;
    width: 10px;
    height: 100%;
    background: #f1f1f1;
    position: fixed;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    .scroll-bar {
      width: 70%;
      height: 50px;
      background: #d6d6d6;
      border-radius: 999rem;
    }
  }
}
